# KVKK Veri Anonimleştirme Sistemi - Bağımlılıklar

# Core
flask==2.3.2
flask-cors==4.0.0

# AI / NLP (Hugging Face)
# Torch CPU only to save space
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
transformers==4.30.0
numpy>=1.26.0

# Production Server
waitress==2.1.2
